<div>
    <section class="content-header" id="appBreadcrumb">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>List Machine</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a [routerLink]="['home']" routerLinkActive="router-link-active" >Home</a>
              </li>
              <li class="breadcrumb-item active">List Machine</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">List Machine</h5>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="card-tools pr-5">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>MACHINE ID</th>
                  <th>DESCRIPTION</th>
                  <th>LOCATION</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of data">
                  <td>{{item.machineID}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.locationname}}</td>
                  <td class="py-0 align-middle">
                    <div class="btn-group btn-group-sm">
                      <a [routerLink]="['/machines', item.machineID ]" data-toggle="tooltip"  data-placement="top" title="Edit!" style="cursor: pointer;" class="btn btn-info">
                        <i style="color:white" class="fas fa-edit"></i>
                      </a>
                      <a (click)="getRoute(item.machineID)" data-toggle="tooltip" data-placement="top" title="Detail!" class="btn btn-danger">
                        <i style="color:white" class="fas fa-info-circle"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>