<div id="appHeader">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#">
            <i class="fas fa-bars"></i>
            </a>
        </li>
        </ul>

    </nav>
</div>
