<div class="row">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="#/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Machine</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Machine</h3>
            </div>
            <form [formGroup]="machineForm" (ngSubmit)="onFormSubmit()" #f="ngForm" role="form">
                <div class="card-body">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">MachineID</label>
                        <span style="color:red">(*)</span>
                        <input  type="text"  formControlName="machineID"  class="form-control"  placeholder="Enter Name" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Description</label>
                        <span style="color:red">(*)</span>
                        <input type="text" formControlName="description"  class="form-control"  placeholder="Enter Name" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Location</label>
                        <span style="color:red">(*)</span>
                        <select  formControlName="locationID" class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" data-select2-id="17" tabindex="-1"  aria-hidden="true" >
                            <option *ngFor="let item of location" [label]="item.locationname" [ngValue]="item.id" ></option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button  type="submit" class="btn btn-danger">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>