<div id="sidebar">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a [routerLink]="['']" class="brand-link">
        <img
            src="../../../assets/params/images/logo/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8"
        />
        <span class="brand-text font-weight-light">Mixing Room</span>
        </a>

        <div class="sidebar">
        
        <nav class="mt-2">
            <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
            >
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Machine
                    <i class="right fas fa-angle-left"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a [routerLink]="['/add-machine']"   class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add New Machine</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/add-location']"   class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Location</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['']" routerLinkActive="router-link-active"  class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>List Machine</p>
                    </a>
                </li>
                
                </ul>
            </li>
            
            </ul>
        </nav>
        </div>
    </aside>
</div>
