<div>
    <!-- <header-content></header-content> -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="text-danger">Machine Detail {{machineID}} </h1>
          <div class="example-button-row">
            <button mat-stroked-button color="primary">STANDARD: {{minstandard}} - {{standard}}</button>
            <button mat-stroked-button color="primary">LOCATION: {{location}}</button>
          </div>
          <!-- <el-button type="success" plain>STANDARD: - </el-button>
          <el-button type="success" plain>LOCATION: </el-button> -->
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Machine Detail</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-4">
         
        </div>
        <div class="col-md-4.5">
          <!-- GAUGET CHART -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">RPM Meter</h3>
            </div>
            <div class="card-body">
              <div class="chart">
                <jqxGauge #myGauge (onValueChanging)="onValueChanging($event)"
                    [max]="1000" [labels] ="labels"
                    [ranges]="ranges" [ticksMinor]="ticksMinor" [ticksMajor]="ticksMajor"
                    [value]="0" [colorScheme]="'scheme05'" [animationDuration]="1200">
                </jqxGauge>
                <div #gaugeValue class="gaugeValue"></div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-4">
          
          <!-- /.card -->
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <!-- LINE CHART -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">RPM Chart By Day</h3>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas baseChart  height="400"
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins"
                    >
                </canvas>
                <!-- <line-chart :chart-data="datacollection" :options="options"></line-chart> -->
                <!-- <line-chart  ></line-chart> -->
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
          <!-- LINE CHART -->
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">RPM Chart Zoom</h3>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas baseChart height="400"
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions2"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins"
                    >
                </canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col (RIGHT) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

  <h1>History Data</h1>
  <div  class="row">
    <div   class="col-xs-12 col-12 col-md-4 form-group">
        <input 
        class="form-control" 
        #drp="bsDaterangepicker" 
        [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }" 
        bsDaterangepicker 
        (bsValueChange)="onValueChange(bsRangeValue)"
        [(ngModel)]="bsRangeValue">
        <!-- <input type="text"
            placeholder="Daterangepicker"
            class="form-control"
            formControlName="dateRange"
            #daterangepicker="bsDaterangepicker"
            [(bsValue)]="selected"
            [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
            bsDaterangepicker> -->

            <!-- <input type="text" matInput
            ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}"
            startKey="start"
            endKey="end"
            class="form-control"
            [(ngModel)]="selected"
            (ngModelChange)="ngModelChange(selected)"
            name="daterange"/> -->
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <button mat-stroked-button (click)="exportExcel()" color="success">Export Excel</button>
    </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>RPM AVG</th>
                <th>Minutes</th>
              </tr>
            </thead>
            <tbody >
            <ng-container *ngFor="let item of historydata">
              <tr [ngClass]="tableRowClassName(item)"  >
                <td>{{item.no}}</td>
                <td>{{item.date}}</td>
                <td>{{item.startTime}}</td>
                <td>{{item.endTime}}</td>
                <td>{{item.rpm}}</td>
                <td>{{item.minutes}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>