<div class="row">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="#/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Location</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Location</h3>
            </div>
            <form [formGroup]="locationForm" (ngSubmit)="onFormSubmit()" #f="ngForm" role="form">
                <div class="card-body">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Location Name</label>
                        <span style="color:red">(*)</span>
                        <input  type="text"  formControlName="locationname"  class="form-control"  placeholder="Enter Name" />
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button  type="submit" class="btn btn-danger">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>