<div class="wrapper">
    <app-site-header></app-site-header>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper">
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
